<!DOCTYPE html>
<html ng-app="projectStore">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="marceliotstein.css" />
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script type="text/javascript" src="marceliotstein.js"></script>
    <script type="text/javascript" src="ab-button.js"></script>

  </head>
  <body ng-controller="projectController as projectlist">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 text-center">
      <header>
        <h1 class="text-right">Marc Eliot Stein</h1>
        <h2 class="text-right">
          Software<br />
          development<br />
          for arts/culture<br />
          websites
        </h2>
        <div class="text-right">
          <div class="col-md-7">
          </div>
          <div class="col-md-5 mes-noborder">
            <p>I've been developing websites nearly since the web was invented, and specializing in Drupal since 2009. I enjoy working on projects for the  <a href="">federal government</a>, for <a href="">media/entertainment properties</a>, for <a href="">writers</a> and for <a href="">musicians</a>.</p>
            <p>Located in Washington DC and New York City. Contact marc.eliot.stein@gmail.com.</p>
      </header>
    </div>

    <div class="col-md-5 text-center mes-noborder">
      <div class="list-group">
        <div class="list-group-item mes-noborder" ng-repeat="project in projectlist.projects">
          <h3>{{project.name}}</em></h3>
          <div ng-controller="GalleryController as gallery"  ng-show="project.images.length">
            <ul class="img-thumbnails clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in project.images">
                <img ng-src="{{image}}" ng-mouseover="onMouseOver($event)" ng-mouseleave="onMouseLeave($event)" />
              </li>
            </ul>
            <div class="featuresite">FEATURE<br /><img ng-src="{{featuredImage}}" /></div>

            <div class="mes-debug"><strong>MOUSE OVER RESULT:</strong>{{onMouseOverResult}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-center">
    </div>

    <h1>TRYING THIS</h1>




<div ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span>

    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <hr />
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
    </p>

</div>


  </body>
</html>
