<!DOCTYPE html>
<html ng-app="projectStore">
<head>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="marceliotstein.css" />
  <script type="text/javascript" src="angular/angular.js"></script>
  <script type="text/javascript" src="ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
  <script type="text/javascript" src="marceliotstein.js"></script>
  <script type="text/javascript" src="ab-button.js"></script>

</head>
<body ng-controller="projectController as projectlist">
  <header>
    <h1 class="mes-title">Marc Eliot Stein</h1>
  </header>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 text-center">


      <div class="mes-blurb">
        <p>I've been developing websites since the web was invented. I specialize in Drupal, and I like Angular.JS and Bootstrap. Here's my <a href="">LinkedIn</a>.</p>
        <p>I like to build websites that help, inform or entertain people. I have worked in the fields of music, arts and literature, government, television, magazines, law and health care.</p>
        <p>I split my time between Washington DC and New York City. Contact marc.eliot.stein@gmail.com.</p>
      </div>



      <div class="list-group">
        <div class="list-group-item mes-noborder" ng-repeat="project in projectlist.projects">
          <h3>{{project.name}}</em></h3>
          <div ng-controller="GalleryController as gallery"  ng-show="project.images.length">
            <ul class="img-thumbnails clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in project.images">
                <img ng-src="{{image}}" ng-mouseover="onMouseOver($event)" ng-mouseleave="onMouseLeave($event)" />
              </li>
            </ul>
            <div class="featuresite"><img ng-src="{{featuredImage}}" /></div>

            <div class="mes-debug"><strong>MOUSE OVER RESULT:</strong>{{onMouseOverResult}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>


</body>
</html>
