/*
* marceliotstein.css -- css for MarcEliotStein.com
*/

html, body {
  height:100%;
  padding:0;
  margin:0;
}

body {
  margin: 0;
  padding: 10px;
}

a {
  color:white;
}

h1 {
  margin-top: 5px;
}

h3 {
  font-size:30px;
  margin: 30px 0 10px 0;
}

.center {
  text-align: center;
}

.bgimage {
  text-align:right;
  color:white;
  background-size:cover;
  height: 100%;
  background-position: center center;
}

ul[rn-carousel] {
  margin: 0 auto;
}

.carousel5 li {
  width:100%;
  height:100%;
  font-size:30px;
  background-color: #ccc;
}

.carousel-demo {
  margin-top:20px;
  display:inline-block;
  text-align: center;
}

.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}

.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
  width:50px;
  text-align:center;
}

.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.custom-indicator span {
  transition: all 0.9s ease-in;
}

.custom-indicator span.active {
  color:yellow !important;
}

.mes-blurb {
  padding: 10px;
  text-align: center;
  max-width: 500px;
}

ul[mes-carousel-xs] {
  width: 420px;
  height: 800px;
}

ul[mes-carousel-sm] {
  width: 550px;
  height: 800px;
}

ul[mes-carousel-md] {
  width: 300px;
  height: 450px;
}

.mes-body {
  background-color: #ffffff;
}

.mes-anchor {
  color: #4f4f4f;
  text-decoration: none;
}

.mes-footer-box {
  padding: 10px;
  text-align: center;
}

.mes-footer {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px;
  text-align: center;
}

.mes-hr {
  margin-top: 18px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 9px;
}

.mes-feature-box {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  padding: 18px;
}

.mes-project-title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 1.3em;
}

.mes-project-img {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.mes-project-box {
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  padding: 18px;
}

.mes-table {
  width: 100%;
  /*border-style: dashed;
  border-width: 1px;
  border-color: black;*/
}

.mes-narrow-footer-td {
  height: 100%;
  vertical-align: middle;
  margin: 0px auto;
  /*border-style: dashed;
  border-width: 1px;
  border-color: black;*/
}

.mes-wide-footer-td {
  width: 50%;
  height: 100%;
  vertical-align: middle;
  margin: 0px auto;
  /*border-style: dashed;
  border-width: 1px;
  border-color: black;*/
}

.mes-selfie {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.mes-md-selfie {
  max-width: 400px;
}

.mes-narrow-td {
  height: 100%;
  vertical-align: middle;
  margin: 0px auto;
  /*border-style: dashed;
  border-width: 1px;
  border-color: black;*/
}

.mes-wide-td {
  height: 100%;
  vertical-align: middle;
  margin: 0px auto;
  width: 50%;
}

.mes-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mes-narrow-blurb {
  padding: 0px;
}

.mes-wide-blurb {
  width: 320px;
  text-align: center;
  padding: 10px;
}

.mes-debug {
  display: none;
}

.mes-main-theatre {
  /*
  border-style: dashed;
  border-width: 1px;
  border-color: gray;
  */
}
/* END */
