/*
* marceliotstein.css -- css for MarcEliotStein.com
*/

.mes-blurb {
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #7f7f7f;
  border-radius: 9px;
}

ul[mes-carousel-xs] {
  width: 300px;
  height: 620px;
}

ul[mes-carousel-md] {
  width: 700px;
  height: 300px;
}

.mes-body {
  background-color: #ffffff;
}

.mes-anchor {
  color: #4f4f4f;
  text-decoration: none;
}

.mes-footer-box {
  padding: 10px;
  text-align: center;
}

.mes-footer {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #7f7f7f;
  border-radius: 9px;
  max-width: 550px;
}

.mes-hr {
  margin-top: 18px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 9px;
  max-width: 700px;
}

.mes-feature {
  text-align: center;
  border-style: solid;
  border-width: 7px;
  border-color: blue;
  border-radius: 9px;
  max-width: 700px;
}

.mes-project-title {
  padding-bottom: 30px;
}

.mes-project-box {
  text-align: center;
}

.mes-vertical-table {
  height: 300px;
}

.mes-vertical-table-footer {
  height: 200px;
  width: 100%;
  text-align: center;
}

.mes-vertical-td {
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.mes-title {
  text-align: center;
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mes-blurb {
  width: 320px;
  text-align: center;
  padding: 10px;
}

.mes-debug {
  display: none;
}
/* END */
